/* raleway-regular - latin */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'), url('../fonts/raleway-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/raleway-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/raleway-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/raleway-v11-latin-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}


/* inconsolata-regular - latin */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inconsolata-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url('../fonts/inconsolata-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/inconsolata-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/inconsolata-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/inconsolata-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/inconsolata-v15-latin-regular.svg#Inconsolata') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'musisync';
    src: url('../fonts/musisync.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../css/fonts/musisync.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

header {
    margin-bottom: 10px;
    line-height: 35px;
    margin-top: 10px;
    .brand {
        font-size: 3rem;
        padding-right: 10px;
        margin-top: 10px;
        vertical-align: middle;
    }
    .divider {
        border-right: solid 1px #000;
    }
    .description {
        font-size: 1.2rem;
        letter-spacing: 5px;
        padding-left: 10px;
        vertical-align: middle;
    }
}

.music {
    font-family: musisync, serif;
}

#guide {
    font-family: 'Raleway', sans-serif;
}

#app {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    #sourceCode {
        width: 100%;
        height: 650px;
        font-family: 'Inconsolata', monospace;
        font-size: 16px;
        line-height: 25px;
        resize: none;
        outline: none;
    }
}

.song-container {
    font-family: 'Inconsolata', monospace;
    .song-title {
		font-size: 30px;
		margin: 0;
    }
    .song-details {
        border-top: solid thin black;
        span {
            margin-right: 20px;
        }
    }
    .song-body {
		margin-top: 20px;

		&__section {		
			font-weight: bold;			
			font-size: 18px;
		}		
		
		&__item {		
			display: inline-block;
			margin-right: 10px;

			&-container {
				display: table;
				min-height: 40px;		
			}

			&-content {
				display: table-cell;
				vertical-align: middle;
			}			
	
			.symbol {
				font-family: musisync, serif;
				font-size: 40px;
				line-height: 50px;
			}

			.repeat {
				padding: 8px 0 0 5px;
				font-size: 20px;
			}

			.comment {
				font-style: italic;
			}

			.label {
				color: black;
				font-size: 16px;
				border: solid thin black;
				padding: 0 2px 0 2px;			
			}

			.chord {
				font-size: 20px;

				.timing {
					font-family: musisync, serif;					
					font-size: 30px;
					line-height: 2px;
					.dot {
						margin-left: -2px;
					}
				}

				.timing--rest {					
					.dot {
						margin-left: -6px;
					}
				}
			}
		}
		
		&__item--section {
			display: block;
			margin-bottom: -15px;
		}
	}
}

// @media print {
//     #app {
//         display: none;
//     }
//     #print {
//         display: block;
//     }
// }

// @media screen {
//     #print {
//         display: none;
//     }
// }