@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'), url('../fonts/raleway-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/raleway-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/raleway-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/raleway-v11-latin-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}

body {
    padding-bottom: 50px;
}

header {
    margin-bottom: 10px;
    line-height: 35px;
    margin-top: 10px;
    .brand {
        font-size: 3rem;
        padding-right: 10px;
        margin-top: 10px;
        vertical-align: middle;
        @media only screen and (max-width: 767px) {
            font-size: 2rem;
            text-align: center;
        }
    }
    .divider {
        border-right: solid 1px #000;
    }
    .description {
        font-size: 1.2rem;
        letter-spacing: 5px;
        padding-left: 10px;
        vertical-align: middle;
    }
}

#app {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    .source-code {
        width: 100%;
        font-family: 'Inconsolata', monospace;
        font-size: 18px;
        line-height: 25px;
        resize: none;
        outline: none;
        @media only screen and (max-width: 767px) {
            height: 260px;
        }
    }
}

.song-container {
    font-family: 'Inconsolata', monospace;
    .song-title {
        font-size: 30px;
        margin: 0;
    }
    .song-details {
        border-top: solid thin black;
        span {
            margin-right: 20px;
        }
    }
}

@media only screen and (max-width: 767px) {
    h3 {
        font-size: 1.75rem;
    }
}