@font-face {
    font-family: 'musisync';
    src: url('../fonts/musisync.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ url('../css/fonts/musisync.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/* inconsolata-regular - latin */
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/inconsolata-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
		 url('../fonts/inconsolata-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/inconsolata-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/inconsolata-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/inconsolata-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/inconsolata-v15-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
  }

body {
    font-family: 'Inconsolata', monospace;
}

.right {
    text-align: right;
}

.full-width {
    width: 100%;
}

#header td {
    padding: 5px;
}

#header #title {
    margin: 0;
    padding: 0;
}

.bar-line {
    font-family: musisync, serif;
    font-weight: normal;
    font-size: 30pt;
    vertical-align: top;
    line-height: 20px;
    width: 1px;
}

.bar-line-after span {
    vertical-align: middle;
}

.chord-timing {
    font-family: musisync, serif;
    font-size: 18pt;
    line-height: 15px;
    white-space: nowrap;
}

.chord-timing .dot {
	margin-left: -4px
}

.blank-timing {
    font-size: 18pt;
}

.chord {
    font-size: 14pt;
}

.comment {
    font-size: 10pt;
    font-style: italic;
}